* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#services {
  font-family: "Playfair Display", serif;
 
}

/* Custom fonts */
.font-monotype {
  font-family: "Monotype Corsiva", "Times New Roman", serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
